header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.header__column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
