@import "reset.css";
@import "variables.css";

/* Component */
@import "component/header.css";
@import "component/todo.css";
@import "component/quote.css";

.clock {
  text-align: center;
  font-size: 10rem;
}

.clockbox {
  position: fixed;
  top: 35%;
  left: 33%;
}

.greeting {
  text-align: center;
  font-size: 5rem;
}

.greetingbox {
  position: fixed;
  top: 50%;
  left: 33%;
}

.hidden {
  visibility: hidden;
}

body {
  position: relative;
  height: 100vh;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
