@import "reset.css";
@import "variables.css";

/* Component */
@import "component/main.css";
@import "component/header.css";
@import "component/todo.css";
@import "component/quote.css";

.hidden {
  visibility: hidden;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro",
    "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
/* test */
