.clock {
  text-align: center;
  font-size: 10rem;
}

.greeting {
  text-align: center;
  font-size: 4rem;
}

.login {
  text-align: center;
}

.login-form__text {
  background: transparent;
  border: none;
  font-size: 4rem;
  color: white;
  border-bottom: 2px white solid;
  text-align: center;
  width: 40rem;
}

.login-form__text::placeholder {
  color: white;
}

.background-img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
